<div class="card mb-4">
    <div class="card-body">
        <h5>{{ goal.user.username }}</h5>
        <a href="{% url 'goal_detail' goal.id %}">

      
        <h5 class="card-title">{{ goal.title }}</h5>
        <p class="card-text">{{ goal.description }}</p>
        <p class="card-text">
            <small class="text-muted" style="float: left;">Deadline: {{ goal.deadline }}</small>
            {% if goal.finished_at %}
                <small class="text-muted" style="float: right;">Finished At: {{ goal.finished_at }}</small>
            {% endif %}
        </p>
        {% if show_progress %}
            <p class="mt-2 mb-0">
                <strong>Progress:</strong>
                <span>{{ total_progress|default:goal.current_value|floatformat:2 }} / {{ goal.target_value }} {{ goal.unit.name }}</span>
            </p>
            <div class="progress" style="height: 20px;">
                {% if progress_percent == 0 %}
                    <div class="progress-bar bg-info" role="progressbar"
                        style="width: 1%;"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        0%
                    </div>
                {% elif progress_percent <= 100 %}
                    <div class="progress-bar bg-success" role="progressbar"
                        style="width: {{ progress_percent|floatformat:2 }}%;"
                        aria-valuenow="{{ progress_percent|floatformat:2 }}" aria-valuemin="0" aria-valuemax="100">
                        {{ progress_percent|floatformat:0 }}%
                    </div>
                {% else %}
                    <div class="progress-bar bg-danger" role="progressbar"
                        style="width: 100%;"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        100%
                    </div>
                {% endif %}
            </div>
        {% endif %}
        </a>
    </div>
</div>
