# Core Django
Django==5.2.14
asgiref==3.11.1
sqlparse==0.5.5

# Django Extensions
django-extensions==4.1

# REST Framework & Authentication
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0

# Database
psycopg2-binary==2.9.12

# Image Handling
Pillow==12.2.0

# Environment Variables
python-dotenv==1.2.2

# Production Server
gunicorn==23.0.0
whitenoise==6.8.2
