{% extends 'goals/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <!-- Page Header -->
    <div class="page-header">
        <h1 class="page-title">
            <i data-lucide="users" class="me-3"></i>
            Category
        </h1>
        <p class="page-subtitle">Join bla bla bla bla </p>
    </div>

    <!-- Feed Container -->
    <div class="social-feed">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                {% include 'goals/_feed_card.html' with goals=goals %}            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'goals/js/social-feed.js' %}"></script>
{% endblock %}