{% extends 'goals/base.html' %}

{% block content %}
<div class="container">
    <h1>{{ user.username }}'s Dashboard</h1>
    <div class="row">
        {% for goal in goals %}
                <a class="col-md-4" href="{% url 'goal_detail' goal.id %}">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ goal.title }}</h5>
                            <p class="card-text">{{ goal.description }}</p>
                            <p class="card-text">
                                <small class="text-muted" style="float: left;">Deadline: {{ goal.deadline }}</small>
                                <small class="text-muted" style="float: right;">Days Remaining: {{ goal.days_remaining }}</small>
                            </p>
                            
                        </div>
                    </div>
                </div>
                </a>
            {% empty %}
                <p>No active goals found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}